<figure class="op-ad">
    <script type="text/javascript">
        {{ javascript }}
    </script>
    <div class="ad-container">
        <SCRIPT SRC="http://cdn-tags.orbyd.com/34158" TYPE="text/javascript"></SCRIPT>
    </div>
</figure>