<figure class="op-ad">
    <iframe width="300" height="250">
        <script type="text/javascript">
            function deviceIsMobile() {
                return true;
            }
            function getDeviceType() {
                return "smartphone"
            }
            {{ javascript | raw }}
            var aplus_data = "adunit1="+ adunit1 + "&adunit2=" + adunit2 + "&adunit3=" + adunit3 + "&keyword=" + adkeyword;
            var aplus_referrer = '{{ referrer }}';
        </script>
        <div class="ad-container">
            <SCRIPT SRC="http://cdn-tags.orbyd.com/34158" TYPE="text/javascript"></SCRIPT>
        </div>
    </iframe>
</figure>